<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head")%>
<body>
    <%-include("../partials/header")%>
    <script defer src="/js/script.js"></script>
    <script src="/js/addvalidation.js"></script>
    <main class="container"> 
     <form action="/admin/productos" method="POST" enctype="multipart/form-data" style="margin: 10px 0 10px;"> <!--enctype="multipart/form-data" tiene la funcionalidad del muler -->
      <fieldset class="rounded border w-90 mx-auto p-4" id="fondo-mainAdmin">
          <legend class="text-center">AGREGAR PRODUCTO</legend> 
  
  
      <div class="mb-3 col-md-6">
          <label for="name" class="form-label">Nombre</label>
          <input type="text" name="name" class="form-control" id="name" placeholder="Ingresa nombre de producto ">
          <small class="text-danger" id="nameErrors"><%= (locals.errors  && errors.name) ? errors.name.msg : "" %></small>
  </div>
  <div class="mb-3 col-md-6">
      <label for="price" class="form-label">Precio</label>
      <input type="number" name="price" class="form-control" id="price" placeholder="ej:$1000">
      <small class="text-danger" id="priceErrors"><%= (locals.errors  && errors.price) ? errors.price.msg : "" %></small>
  </div>
  
  <div class="mb-3 col-md-6">
      <label for="discount" class="form-label">Descuento</label>
      <input type="number" name="discount" class="form-control" id="discount" placeholder="Ingresar descuento" value="<%= (locals.old && old.discount) ? old.discount : "" %>">
      <% if (locals.errors && errors.discount) { %>
        <small class="text-danger" id="discountErrors"><%= errors.discount.msg %></small>
      <% } %>
  </div>
      <div class="container" id="Container-admin">
        <label for="exampleDataList" class="form-label">Categorias</label>
<<<<<<< HEAD
          <select name="id_categoria" class="form-control" id="categorias" aria-label="Default select example">
            <% categorias.forEach(({id, name}) => { %>
              <option value="<%= id %>"><%= name %></option>
            <% }) %> 
          </select>
       </div>  
=======
          <input name="categorias_id" class="form-control" list="datalistOptions" id="categorias" placeholder="Seleccione Categoria">
          <datalist id="datalistOptions">
          <option selected hidden value="">Categoría</option>
          <option value="1"<%= (locals.old && old.categorias_id) && old.categorias_id === "1" ? "selected" : "" %> ></option>
          <option value="2" <%= (locals.old && old.categorias_id) && old.categorias_id === "1" ? "selected" : "" %>></option>
          <option value="3" <%= (locals.old && old.categorias_id) && old.categorias_id === "1" ? "selected" : "" %>></option>
      </div>
      <% if (locals.errors && errors.categorias_id) { %>
        <small class="text-danger"><%= errors.categorias_id.msg %></small>
      <% } %>
>>>>>>> b65515d0ef7bc754b10c4829dd22329aca40cc9c
      <div class="form-check form-switch pt-3">
          <input class="form-check-input" name="stock" type="checkbox" role="switch" id="stock" >
          <label class="form-check-label" for="stock">Stock</label>
        </div>
        
        <div class="mb-3">
          <label for="formFile" class="form-label">Agregar archivo de imagen</label>
          <input class="form-control" type="file" id="formFile" name="image" />
          <small class="text-danger" id="fileErrors"><%= (locals.errors  && errors.image) ? errors.image.msg : "" %></small>
        </div>
        <br>
        <div class="mb-3 " id="Container-admin">
          <label for="exampleFormControlTextarea1" class="form-label">Descripcion</label>
          <textarea name="description" class="form-control texto-area-main" id="description" rows="3"></textarea>
          <small class="text-danger" id="descriptionErrors"><%= (locals.errors  && errors.description) ? errors.description.msg : "" %></small>
        </div>
        <br>
        <div class="col-12" id="boton-adminMain">
          <button class="btn btn-primary" type="submit">Crear producto</button>
        </div>
      </fieldset>
   </form>
  </main>
    
            <%-include("../partials/footer")%>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>