<!DOCTYPE html>
<html lang="en" >  
  <%-include('../partials/head') %>
<body>
  <%-include('../partials/header') %>
<main>
  <div class="container">
    <div class="grid second-nav">
      <div class="column-xs-12">
        <nav>
          <ol class="breadcrumb-list">
            <h3><%=titulo%></h3>
        </nav>
      </div>
    </div>
    <div class="grid product">
      <div class="column-xs-12 column-md-7">
        <div class="product-gallery">
          <div class="product-image">
            <img class="active" src="/images/<%=producto.image%>">
          </div>
          <ul class="image-list">
            <li class="image-item"><img src="/images/elden ring principal1.jpg"></li>
            <li class="image-item"><img src="/images/elden ring principal2.jpg"></li>
            <li class="image-item"><img src="/images/elden ring principal3.jpg"></li>
          </ul>
        </div>
      </div>
      <div class="column-xs-12 column-md-5">
        <h1><%=producto.name%></h1>
        <h2><% if (producto.discount > 0) { %>
          <span class="descuento"><%= producto.discount %> de descuento%</span>
      <% }else{ %> <span class="descuento">Sin descuento</span> <% } %>
      <div class="card__price">
          <% if (producto.discount > 0) { %>
              <span class="card__priceSale--original">$ <%= producto.price %> </span>$ <%= producto.price - producto.discount * producto.price / 100 %>
          <% } else { %>
          $ <%= producto.price %> 
          <% } %></h2>
        <div class="description">
          <p><%=producto.description%></p>
        </div>
        <button class="add-to-cart">Comprar</button>
      </div>
    </div>
    
</main>
<%-include('../partials/footer') %>
<!-- partial -->
  <script  src="/js/script1.js"></script>

</body>
</html>