<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head') %>
<body>
    <!-- header-->
    <%-include('../partials/header') %>
<!--fin header-->

<!-- MAIN -->

    <section class="contenedor">
        <h2 class="titulo-seccion"> <%= titulo %> </h2>
        
       <form  class="contenedor-shop" method="get" >
       
        <% if(carshop.length > 0) { %>
            <% carshop.forEach(shop => { %>
                
              
             <ol class="product-shop">
                    <li>
                        <img src="/images/<%=shop.image%>" alt="Game" class="img-shop">
                    </li>
                    
                    <ol class="datos-shop"> 
                        <li><p>Descripcion: <%=shop.description%></p></li>
                        <li ><p class="name-shop"><%=shop.name%> </p></li>
                        <li>
                            <input type="number" id="tentacles" name="tentacles"
                            min="1" max="100">
                            <p>Precio: $<%=shop.price%></p>
                        </li>
                        <li><p>Subtotal: </p></li>
                        <form action='/admin/productos/eliminar/<%- shop.id %>?_method=delete' method="post">
                            <button class="btn btn-danger" type="submit" >
                              <i class="fa-solid fa-trash-can"></i>
                            </button>
                          </form>
                    </ol>
            </ol>
            
      <% }) %>
      <% }  %>	
      <p class="total-shop">Total: $</p>
      <div class="buttons-shop">
        <a href="/" class="btn-cancel-shop">Cancel</a>
        <input type="submit" class="btn-save-shop" value="save">
    </div>
        </form>
        
    </section>

<!-- fin del main -->

<!-- footer-->
<%-include('../partials/footer') %>
<!-- fin footer-->