<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')  %> 
<script src="/js/loginValidator.js" ></script>
<script src="/js/dark.js" defer></script>
<body>
    
    <!-- header-->
    <%- include('../partials/header')  %> 
    <!--fin header-->

    <!--Login-->
    <div class="login-form">
        <h2>Login</h2>
        <div class="is-invalid">
        <form action="/user/login" method="POST" id="login">
            <input type="email" name="email" id="email" placeholder="E-mail" value="<%= (locals.old && old.email) ? old.email : "" %>">
            <small class="text-danger" id="emailErrors"><%= (locals.errors && errors.email) ? errors.email.msg : "" %> </small>
            <input type="password" name="password" id="password" placeholder="password" value="<%= (locals.old && old.password) ? old.password : "" %>"> 
            <small class="text-danger" id="passwordErrors"><%= (locals.errors && errors.password) ? errors.password.msg : "" %> </small>
            <input type="submit" class="btn-login" value="login" >
            <span id="submitErrors" class="text-danger"></span>

        <% if (locals.errors && errors.custom) { %>
            <small class="text-danger"><%= errors.custom.msg %></small>
        <% } %>
        <a href="/user/registro" class="btn-register">Register</a>
        
        <div class="form-check mb-3">
            <input class="form-check-input" name="remember" type="checkbox" id="remember">
            <label class="form-check-label" for="remember">
                Recordarme
            </label>
            <span id="submitErrors" class="text-danger"></span>
        </div>
    </form>
    </div>
</div>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <!--Fin login-->
    <!-- footer-->
    <%- include('../partials/footer')  %> 
    <!-- fin footer-->



    <script src="https://kit.fontawesome.com/f21216c2d3.js" crossorigin="anonymous"></script>
</body>


</html>