<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head')  %> 


<body>
    
    <!-- header-->
    <%- include('../partials/header')  %> 
    <!--fin header-->

    <!--Login-->
    <div class="login-form">
        
        <h2>Login</h2>
        <form action="/user/login" method="POST">
            <% if (locals.errors && errors.email) { %>
                <small class="text-danger"><%= errors.email.msg %></small>
            <% } %>
            <input type="email" name="email" id="email" placeholder="user" >
            <% if (locals.errors && errors.password) { %>
                <small class="text-danger"><%= errors.password.msg %></small>
            <% } %>
            <input type="password" name="password" id="password" placeholder="password" > 
            <input type="submit" class="btn-login" >


        <% if (locals.errors && errors.custom) { %>
            <small class="text-danger"><%= errors.custom.msg %></small>
        <% } %>
        <a href="/user/registro" class="btn-register">Register</a>
        
        <div class="form-check mb-3">
            <input class="form-check-input" name="remember" type="checkbox" id="remember">
            <label class="form-check-label" for="remember">
                Recordarme
            </label>
        </div>
    </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <!--Fin login-->
    <!-- footer-->
    <%- include('../partials/footer')  %> 
    <!-- fin footer-->



    <script src="https://kit.fontawesome.com/f21216c2d3.js" crossorigin="anonymous"></script>
</body>


</html>