<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-include('../partials/head'), ({title: 'Resultados de tu búsqueda'}) %>
<script src="js/dark.js" defer></script>
<body>
	<!-- Header -->
	<%-include('../partials/header') %>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner"></div>
	<!-- /Banner -->

	<!-- todos los productos -->
	<div class="container-search">
		<div class="col-12">
			<h2 class="products-title">Resultados de la búsqueda <% keyword %>  </h2>
		</div>
		<div class="row">
			
	<% if(productos.length > 0) { %>
				  
			<% productos.forEach(product => { %>
				<article class="producto">
					<a class="productos" href="/products/detalle/<%= product.id %> ">
						<div>
							<img src="/images/<%= product.imagen %>" alt="">
						</div>
						<p class="product-name"><%= product.name %> </p>
						<p class="description-prod"><%= product.description %></p>
						<% if (product.discount > 0) { %>
							<span class="descuento"><%= product.discount %>% de descuento</span>
						<% }else{ %> <span class="descuento">Sin descuento</span> <% } %>
						<div class="card__price">
							<% if (product.discount > 0) { %>
								<span class="precio-original">$ <%= product.price %> </span>$ <%= toThousand(product.price - product.discount * product.price / 100) %>
							<% } else { %>
							$ <%= product.price %> 
							<% } %>
						</div>
					   
					</a>
						<a class="boton-Prod" href="#">Comprar</a>
				</article>
			<% }) %>

		<% } else { %>		

			<div class="col-12">
				<h2 class="products-title" style="color: tomato;">No hay productos que coincidan con esa búsqueda</h2>
			</div>
	<% } %>
		</div>
	</div>
	<!-- /todos los productos -->
	<a href="https://api.whatsapp.com/send?phone=+51987654321" class="btn-wsp" target="_blank">
	    <i class="fa fa-whatsapp icono"></i>
	</a>
	
	
</body>	

<!-- footer -->
<%- include('../partials/footer') %>
<!-- /footer -->
</html>